div{
    width: 100px;
    display: block;
    margin: auto 50%;
}
.ctr{
    display: block;
    margin: auto 50%;
}
h1{
    color: #24936f;
}
p{
    font-size: 15px;
}
#name{
    font-size: 70px;
}
.yellow{
    background-color: #bab842;
}