* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom, #ffdb1d, #f2ffd6, #fcf7ec);
    margin: 0;
    padding: 30px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.responsive-rectangle {
    display: flex;
    flex-direction: column;
    max-width: 60rem;
    margin-top: 30px;
    padding-left: 70px;
    padding-right: 70px;
    background: white;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation:fadeInDown;
    animation-duration: 2s;

}

.responsive-rectangle img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 10px;
    margin-top: 10px;

}

.test{
    display: flex;
    overflow: clip;
    margin: 20px;
}